In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [2]:
school_path = os.path.join('school_data.csv')

In [3]:
school_df = pd.read_csv(school_path)

In [4]:
# school_data_df = school_data_df.dropna()

In [5]:
school_df.head()

,Unnamed: 0,_id,city,enrollment,graderange,gsrating,lat,lon,parentrating,phone,school_name,school_type,website
0,0,5af7493818e4261b6296a900,Adelanto,469.0,K-6,1.0,34.576157,-117.409490,3,(760) 246-5892,Adelanto Elementary School,public,http://www.aesd.net/
1,1,5af7493818e4261b6296a901,Adelanto,1750.0,9-12,NaN,34.531548,-117.441284,3,(760) 246-3909,Adelanto High School,public,http://ahs.vvuhsd.org/
2,2,5af7493818e4261b6296a902,Adelanto,NaN,1-12,NaN,34.519000,-117.406230,3,(760) 530-1576,Carpe Diem Learning Academy,private,NaN
3,3,5af7493818e4261b6296a903,Adelanto,391.0,7-8,1.0,34.511086,-117.434700,3,(760) 530-1950,Columbia Middle School,public,NaN
4,4,5af7493818e4261b6296a904,Adelanto,512.0,K-6,NaN,34.537495,-117.460600,2,NaN,Desert Trails Elementary School,charter,NaN

In [24]:
city_df = school_df.groupby('city')

In [21]:
average_enrollment = city_df['enrollment'].mean()
average_rating = city_df['parentrating'].mean()
school_type = city_df['school_type'].unique()
graderange = city_df['graderange'].unique()
school = city_df['school_name'].unique()
gsrating = city_df['gsrating'].mean()
latitude = city_df['lat'].mean()
longitude = city_df['lon'].mean()
# city = city_df['city'].unique()

AttributeError: 'DataFrameGroupBy' object has no attribute 'unique'

In [17]:
city_group = pd.DataFrame({'enrollment':average_enrollment,
                           'parentrating':average_rating,
                           'school_type':school_type,
                          'graderange':graderange,
                          'school_name':school,
                          'gsrating':gsrating,
                          'lat':latitude,
                          'lon':longitude,
                          'city':city})

In [ ]:
for r in

In [18]:
city_group.head()

,city,enrollment,graderange,gsrating,lat,lon,parentrating,school_name,school_type
city,,,,,,,,,
Adelanto,[Adelanto],677.333333,"[K-6, 9-12, 1-12, 7-8, PK-6, K-8, K-12]",1.888889,34.540126,-117.416650,3.666667,"[Adelanto Elementary School, Adelanto High Sch...","[public, private, charter]"
Agoura Hills,[Agoura Hills],155.250000,"[K, K-8, PK-5, K-1, K-5]",8.000000,34.145822,-118.746799,4.600000,"[Born Learners School, Conejo Jewish Day Schoo...","[private, public]"
Alameda,[Alameda],424.629630,"[K-8, 6-12, 9-12, K-5, K-12, K-3, 1-12, K-6, 6...",7.333333,37.765177,-122.260575,4.297297,"[Alameda Christian School, Alameda Community L...","[private, charter, public]"
Albany,[Albany],568.000000,"[9-12, 6-8, K-5, 10-12, 6-12 & ungraded]",9.600000,37.892063,-122.295696,4.000000,"[Albany High School, Albany Middle School, Cor...","[public, private]"
Alhambra,[Alhambra],574.086957,"[9-12, PK-4, PK-5, K-8, K-12, K, PK-6]",7.272727,34.088875,-118.134868,3.833333,"[Alhambra High School, All Souls Elementary Sc...","[public, private]"

In [10]:
len(city_group['enrollment'])

490

In [12]:
city_group.to_csv("city_school.csv",index=False)